.erro {
    main {
        article {
            padding: 80px 0;
            text-align: center;

            figure {
                figcaption {
                    color: $title;
                    font-size: 60px;
                    font-weight: bold;
                    margin-top: -60px;
                }
            }

            h1 {
                color: $title;
                font-size: 30px;
                font-weight: bold;
                line-height: 30px;
                margin: 60px 0;
            }

            .subtitle {
                font-weight: 600;
                font-size: 22px;
                color: #444444;
                margin: 15px 0 30px;
            }

            form {
                height: auto;
                margin: 0 auto;
                max-width: 500px;

                >fieldset {
                    height: 45px;
                    overflow: hidden;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                    box-shadow: 0 0 6px rgba(0, 0, 0, .2);

                    input {
                        float: left;
                        height: 100%;

                        &[type="text"] {
                            width: 90%;
                            text-indent: 10px;
                        }

                        &[type="submit"] {
                            width: 10%;
                            height: 30px;
                            font-size: 0;
                            margin-top: 7px;
                            cursor: pointer;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-color: transparent;
                            border-left: 1px solid #dcdcdc;
                            background-image: url(/arquivos/ico-lupa.png);
                        }
                    }
                }
            }
        }
    }
}